.title-body {
    background: url('../img/title-saloon.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body {
    background: url('../img/saloon-main.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

.outer-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.inner-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}

.navbar-custom {
    background-color: #43a978;
    color: #ffea00;
}

.nav-link {
    color: #ffea00;
}

.navbar-text {
    font-weight: bold;
}

.nav-link:focus, .nav-link:hover {
    color: #ffffff;
}

.find-slot-link {
    padding: 10% 70px;
    background-color: #ffffff;
}

.brown-button {
    color: #fff;
    background-color: #5d4037;
    border-color: #5d4037;
}

.brown-button:focus, .brown-button:hover {
    background-color: #fff;
}

.bg-semi-transparent {
    background-color: rgba(255, 255, 255, 0.3);
}

.orange-toggler {
    background: orange;
}